* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0b0f19;
  color: #ffffff;
}

/* HEADER */
.header {
  background: #111827;
  padding: 18px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
}

/* SEARCH */
.search-box {
  display: flex;
  width: 400px;
  max-width: 100%;
}

.search-box input {
  flex: 1;
  padding: 13px 15px;
  border: none;
  outline: none;
  background: #1f2937;
  color: white;
  font-size: 14px;
  border-radius: 8px 0 0 8px;
}

.search-box input::placeholder {
  color: #9ca3af;
}

.search-box button {
  padding: 0 18px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0 8px 8px 0;
}

/* MENU */
.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 5%;
  background: #0f172a;
  border-top: 1px solid #1f2937;
  border-bottom: 1px solid #1f2937;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.navbar a:hover {
  color: #60a5fa;
}

/* MAIN */
main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 5%;
}

/* HERO */
.hero {
  padding: 50px 20px;
  text-align: center;
  background: #111827;
  border-radius: 12px;
  margin-bottom: 30px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  color: #9ca3af;
}

/* SECTION */
section {
  margin-bottom: 35px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 18px;
}

/* TRENDING */
#trendingList {
  min-height: 80px;
  padding: 20px;
  background: #111827;
  border-radius: 10px;
  color: #9ca3af;
}

/* BERITA */
#newsList {
  min-height: 120px;
  padding: 20px;
  background: #111827;
  border-radius: 10px;
  color: #9ca3af;
}

/* GAMES */
.game-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.game-list div {
  padding: 20px 10px;
  text-align: center;
  background: #1f2937;
  border-radius: 10px;
  font-weight: bold;
}

/* ESPORTS */
.esports-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.esports-menu div {
  padding: 15px 8px;
  text-align: center;
  background: #1f2937;
  border-radius: 8px;
}

/* RESPONSIVE HP */
@media (max-width: 700px) {

  .header {
    flex-direction: column;
  }

  .logo {
    font-size: 28px;
  }

  .search-box {
    width: 100%;
  }

  .navbar {
    justify-content: flex-start;
    overflow-x: auto;
    gap: 20px;
  }

  main {
    padding: 20px 4%;
  }

  .hero {
    padding: 40px 15px;
  }

  .hero h1 {
    font-size: 34px;
  }

  .game-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .esports-menu {
    grid-template-columns: repeat(2, 1fr);
  }
}
